@layer layout {
  .work {
    padding-top: var(--space5XL);
    padding-bottom: var(--space5XL);

    @media (--mediaMobile) {
      padding-top: var(--space3XL);
      padding-bottom: var(--space3XL);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space3XL) var(--space2XL);
    margin-top: var(--space3XL);

    @media (--mediaTablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--mediaMobile) {
      grid-template-columns: 1fr;
      gap: var(--space4XL);
    }
  }

  .more {
    display: flex;
    justify-content: center;
    margin-top: var(--space3XL);
  }
}
