@layer components {
  .footer {
    --lineHeightBody: 1.1;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 100vw;
    padding: var(--space3XL) var(--spaceL);
    z-index: var(--zIndex2);
    position: relative;
    color: var(--textLight);
  }

  .date {
    padding-right: var(--spaceXS);
    display: inline-flex;
  }

  .socialLinks {
    display: flex;
    gap: var(--spaceM);
    margin-left: var(--spaceM);
  }

  .socialLink {
    display: inline-flex;
    color: var(--textLight);
    transition: color var(--durationM) ease;

    &:hover,
    &:focus-visible {
      color: var(--text);
    }

    & svg {
      width: 18px;
      height: 18px;
    }
  }
}
