@layer components {
  .button {
    --buttonSize: calc((44 / 16) * 1rem);
    --buttonFontSize: calc((15 / 16) * 1rem);
    --buttonFocusWidth: 4px;
    --buttonPadding: 0 var(--spaceL);
    --buttonTextColor: var(--background);
    --buttonTextOpacity: 1;
    --buttonLoaderDelay: 0s;

    height: var(--buttonSize);
    padding: var(--buttonPadding);
    cursor: pointer;
    border-radius: var(--radiusS);
    border: 1px solid var(--primary);
    background: var(--primary);
    transition-property: opacity, color, background, border-color, transform;
    transition-duration: var(--durationS);
    transition-timing-function: var(--bezierFastoutSlowin);
    display: inline-flex;
    align-items: center;
    color: var(--buttonTextColor);
    position: relative;
    isolation: isolate;

    &:active {
      transition-duration: calc(var(--durationXS) / 2);
    }

    &:hover {
      background: color-mix(in lab, var(--primary) 88%, black);
    }

    @media (--mediaUseMotion) {
      &:hover {
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }
    }

    &[data-secondary='true'] {
      --buttonTextColor: var(--text);

      background: transparent;
      border-color: var(--border);

      &:hover {
        background: color-mix(in lab, var(--primary) 6%, transparent);
        border-color: var(--primary);
      }
    }

    &[data-loading='true'] {
      --buttonTextOpacity: 0;
    }

    &[data-icon-only='true'] {
      --buttonPadding: 0;
      --buttonTextColor: var(--textBody);

      width: var(--buttonSize);
      align-items: center;
      justify-content: center;
      padding: 0;
      background: transparent;
      border-color: transparent;

      &:hover {
        background: color-mix(in lab, var(--text) 5%, transparent);
        border-color: var(--border);
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  .text {
    font-size: var(--buttonFontSize);
    font-weight: var(--fontWeightMedium);
    opacity: var(--buttonTextOpacity);
    position: relative;
    line-height: 1;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--durationM) var(--bezierFastoutSlowin);
  }

  .loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--background);
    opacity: 0;
    transition: opacity var(--durationM) ease var(--buttonLoaderDelay);

    &[data-visible='true'] {
      opacity: 1;
    }
  }

  .icon {
    transition-property: opacity, fill;
    transition-duration: var(--durationS);
    transition-timing-function: var(--bezierFastoutSlowin);

    @media (--mediaUseMotion) {
      transition-property: transform, opacity, fill;
    }

    &[data-start='true'] {
      margin-right: var(--spaceS);
    }

    &[data-end='true'] {
      margin-left: var(--spaceS);
    }

    @media (--mediaUseMotion) {
      .button:hover &[data-shift='true'] {
        transform: translate3d(var(--spaceXS), 0, 0);
      }
    }

    .button[data-loading='true'] & {
      opacity: 0;
    }
  }
}
