.work {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 160px var(--spaceOuter) 0;

  @media (--mediaTablet) {
    padding-top: 120px;
  }

  @media (--mediaMobile) {
    padding-top: 100px;
  }
}

.header {
  max-width: var(--maxWidthM);
  margin: 0 auto var(--space4XL);
  width: 100%;
}

.category {
  max-width: var(--maxWidthL);
  margin: 0 auto var(--space5XL);
  width: 100%;
  scroll-margin-top: 100px;

  @media (--mediaMobile) {
    margin-bottom: var(--space3XL);
  }
}

.categoryTitle {
  margin-bottom: var(--space2XL);
  padding-bottom: var(--spaceL);
  border-bottom: 1px solid var(--border);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space3XL) var(--space2XL);

  @media (--mediaMobile) {
    grid-template-columns: 1fr;
    gap: var(--space4XL);
  }
}
